<div class="container text-center">

    <div class="swx">
        <h2>  About our website </h2>
        <P>
            Everyone has dreams and our dream is to 
            change the world's perspective on gaming. We want our players to 
            make a living out of gaming. Just like us University students and life-long gamers, WE want to prove parents 
            and friends WRONG,
            that all those countless hours spent grinding away is not waste of time 
            and everyone has their right to pursue
            their passion. We want to be the rebellion and
            show that there IS a possibility to be successful 
            at gaming.
    </div>
        </P>
</div>