/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
h1,h3{
    font-family: 'Raleway', sans-serif;
    color: white;
}
.home-callout, .navbar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
background: #499bea; /* Old browsers */
background: -moz-linear-gradient(left, #23074d 0%, #cc5333 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #23074d 0%,#cc5333 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #23074d 0%,#cc5333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=1 ); /* IE6-9 */
}
.navbar {
    border: none;
}
.home-callout{
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 100
}
.swx{
      font-family: 'Raleway', sans-serif;
      font-weight: 100
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}